body {
	background-color: #EEE;
}
.notesAppContainer {
	margin-top: 50px;
}
.notesAppContainer .notesRow {
	position: relative;
	padding: 10px;
	background-color: white;
	border-bottom: 1px solid #EEE;
}
.notesAppContainer .notesRow .notesTitle {
	font-weight: bold;
	font-size: 15px;
	padding: 5px;
}
.notesAppContainer .notesRow .notesData {
	height: 50px;
	padding: 5px;
}
.notesAppContainer .notesListWrapper {
	position: relative;
}
.notesAppContainer .notesList {
	height: 300px;
    overflow-y: auto;
    float: none;
    border: 1px solid #D8D8D8;
    background-color: #FFF;
}
.notesAppContainer .searchContainer {
	float: none;
	padding: 10px 0;
}

.notesAppContainer .searchField {
	border: 1px solid #CCC;
	height: 40px;
	width: 520px;
	padding: 5px;
}
.notesAppContainer .searchIcon {
    width: 42px;
    height: 42px;
	padding: 5px;
	font-size: 15px;
	background-color: #0AF;
    margin-left: 20px;
    border: 1px solid #EEE;
    color: #FFF;
}
.notesAppContainer .clearSearch {
	margin-left: -35px;
    border: 0;
    background-color: #FFF;
    padding: 0;
}

.notesAppContainer .addNewNoteButton {
	width: 40px;
    height: 40px;
	font-size: 30px;
    cursor: pointer;
    color: #FFF;
    border: 0;
    border-radius: 20px;
    background-color: #F9B24F;
    padding: 0;
    margin-right: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 2px 2px rgba(179, 179, 179, 0.4);
}
.notesAppContainer .addNewNoteWrapper {
	position: absolute;
	bottom: 0;
	right: 0;
}

.notesAppContainer .userAction {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 10px;
    padding: 10px;
}
.notesAppContainer .userAction .edit,
.notesAppContainer .userAction .delete {
	padding: 0 5px;
}