<div ng-controller="NewNoteCtrl" class="newNotePopup container">
	<!-- Close button -->
	<div class="rightFloat basicPadding closeButton">
		<span class="glyphicon glyphicon-remove" ng-click="closePopUp()"></span>
	</div>

	<!-- Add new note -->
	<div class="row basicPadding centerAlignText">
		<span class="boldText">Add New Note</span>
	</div>

	<!-- Title -->
	<div class="row verticalPadding">
		<div class="col-md-12">
			<div class="boldText"> Title </div>
			<input type="text" ng-model="title">
		</div>
	</div>
	<!-- Data -->
	<div class="row verticalPadding">
		<div class="col-md-12">
			<div class="boldText"> Note </div>
			<textarea ng-model="data"></textarea>
		</div>
	</div>
	<!-- Info -->
	<div class="row basicPadding boldText">
		<span>{{infoMessage}}</span>
	</div>
	<!-- Submit button  -->
	<div class="row verticalPadding">
		<div class="col-md-12">
			<input type="button" value="Save" ng-click="saveNewNote()">
		</div>
	</div>
	<!-- loader -->
	<div ng-show="displayLoader" class="popUpLoader">
		<img src="images/loader.gif" alt="" class="absolutePosition">
	</div>
</div>