<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/404.css" onload="sheetLoaded()" onerror="sheetError()">
    <title>Notes</title>
</head>
<body>
    <div id="content">
        <header>
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header>

        <div class="clearfix"></div>

        <div id="main-body">
            <p class="enormous-font">Notes</p>
        </div>
    </div>
</body>
</html>
